<html>
<head>
    <title>Still with Us?</title>
</head>
<body>
<h1>Client Sites</h1>
<table border="1">
    {% spaceless %}
    <thead>
        <tr>
            <th>Domain</th>
            <th>Still with Us?</th>
            <th>Note</th>
        </tr>
    </thead>
    {% endspaceless %}
    <tbody>
        {% spaceless %}
        {% for each in clientsites %}
            <tr>
                <td>{{ each.domain }}</td>
                <td>Yes</td>
                <td></td>
            </tr>
        {% endfor %}
        {% endspaceless %}
    </tbody>
</table>
</body>
</html>
