<html>
<head>
    <title>Still with Us?</title>
</head>
<body>
<h1>Client Sites</h1>
<table border="1">
    {% spaceless %}
    <thead>
        <tr>
            <th>Domain</th>
            <th>Still with Us?</th>
            <th>Note</th>
        </tr>
    </thead>
    {% endspaceless %}
    <tbody>
        {% spaceless %}
        {% for each_domain, each_with_us in results %}
            <tr>
                <td>
                    <a href="http://{{ each_domain }}" target="_blank">{{ each_domain }}</a>
                </td>
                <td{% if each_with_us == 'No' %} style="color: red;"{% endif %}>{{ each_with_us }}</td>
                <td></td>
            </tr>
        {% endfor %}
        {% endspaceless %}
    </tbody>
</table>
<h1>Servers</h1>
<table border="1">
    {% spaceless %}
    <thead>
        <tr>
            <th>Name</th>
            <th>IP</th>
        </tr>
    </thead>
    {% endspaceless %}
    <tbody>
        {% spaceless %}
        {% for each in servers %}
            <tr>
                <td>{{ each.name }}</td>
                <td>{{ each.ip }}</td>
            </tr>
        {% endfor %}
        {% endspaceless %}
    </tbody>
</table>
</body>
</html>
